<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Champion Masteries{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div id="header">
    <div class="container align-center">
        League of legends champion mastery profile
    </div>
</div>
<div class="container container-header">
    <div id="finder">
        <div class="col-xs-9 np">
            <input id="input-analytics" type="text" placeholder="Summoner name" {% if summonerName is defined %}value="{{ summonerName }}"{% endif %}>
        </div>
        <div class="col-xs-3 np">
            <a id="btn-link" href="#" class="purple-btn"><i class="fa fa-angle-right"></i>Search</a>
        </div>
        <div id="finder-server" class="col-xs-12 np upper bg-grey fill">
            <div class="col-xs-4 np align-center">
                <p class="mb0">Server :</p>
            </div>
            <div class="col-xs-8 np">
                <ul id="server-list">
                    <li {% if region is not defined or region == "euw" %}class="active"{% endif %}>EUW</li>
                    <li {% if region is defined and region == "eune" %}class="active"{% endif %}>EUNE</li>
                    <li {% if region is defined and region == "na" %}class="active"{% endif %}>NA</li>
                    <li {% if region is defined and region == "br" %}class="active"{% endif %}>BR</li>
                    <li {% if region is defined and region == "tr" %}class="active"{% endif %}>TR</li>
                    <li {% if region is defined and region == "ru" %}class="active"{% endif %}>RU</li>
                    <li {% if region is defined and region == "lan" %}class="active"{% endif %}>LAN</li>
                    <li {% if region is defined and region == "las" %}class="active"{% endif %}>LAS</li>
                    <li {% if region is defined and region == "oce" %}class="active"{% endif %}>OCE</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container container-body">
    {% block body %}{% endblock %}

</div>
<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="http://instantclick.io/v3.1.0/instantclick.min.js" data-no-instant></script>
<script src="{{ asset('js/app.js') }}"></script>
<script data-no-instant>InstantClick.init();</script>
{% block javascripts %}{% endblock %}
</body>
</html>
